
/*
img defines the width and height in the 
tabel under coloum Click to view

*/
img{
    width: 30px;
    height:30px;
  }
  
/*
modal div to display none
z-index display the img front

*/

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
 
}
/*
modal-content 
used to style the pop up div 
*/

.modal-content {
  background-color: rgb(208, 223, 223);
  align-items: center;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
/*
span 
symbol => X 

*/
#span{
  background-color: rgb(208, 223, 223);
  margin: auto;
  padding: 20px;
  width: 80%;
  text-align: right;
  color: crimson;
}


/*
dispaly cursor on symbol =>X on hover and focus

*/
.close:hover,
.close:focus {
  cursor: pointer;
}

/*
tabel properties

*/
#tabel{

    border: 1px solid black;
    
    margin-left: auto;
  margin-right: auto;
}
/*
form properties

*/
#form{
  padding: 100px 100px 0px 100px;
}
/*
body backbround color

*/

body{
  background-color: rgb(96, 180, 180);
}
/*
h1 properties 

*/
h1{
  text-align: center;
  padding: 30px 0px 0px 0px;
  font-family: cursive;
}
/*
h6 properties 

*/

h6{
  text-align: center;
  padding: 30px 0px 0px 0px;
  font-family: cursive;
}
/*
search box,search button,all_cat_list button  
display in inline and align center

*/
#search_Box,#search,#all_cat_list{
  display: inline-block;
  text-align: center;
  
}
/*
section 
align to center

*/
section{
  text-align: center;
}

/*
search_Box 
prperties

*/
#search_Box{
  width: 50%;
  text-align: left;
}
